@{
    ViewData["Title"] = "Home Page";
}

<h1 class="text-3xl">Pokédex di Kanto</h1>

<div class="grid lg:grid-cols-3 gap-6 xl:gap-x-12">
    <div class="mb-6 lg:mb-0 mt-28">
        <div class="relative block bg-white rounded-lg shadow-lg" style="background-image: linear-gradient(#7AC74C88, #A33EA188);">
        <div class="flex">
                <div class="relative overflow-hidden bg-no-repeat bg-cover bg-slate-100 relative overflow-hidden bg-no-repeat bg-cover shadow-lg rounded-full mx-16 -mt-24"
                     data-mdb-ripple="true" data-mdb-ripple-color="light">
                <img src="~/img/pokemon/001 Bulbasaur.webp" class="w-full" />
                <a href="skdfhnk">
                    <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed opacity-0 hover:opacity-100 transition duration-300 ease-in-out"
                         style="background-color: rgba(251, 251, 251, 0.15)"></div>
                </a>
            </div>
        </div>
        <div class="p-6">
            <h5 class="font-bold text-lg mb-3">Bulbasaur</h5>
            <p class="text-gray-500 mb-4">
            </p>
            <p class="mb-4 pb-2">
                Blabla
            </p>
            <p class="font-bold text-lg mb-3">dfhdfhdh</p>

            <a href="" data-mdb-ripple="true" data-mdb-ripple-color="light"
               class="inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded-full shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">
                Dettagli
            </a>
        </div>
    </div>
</div>
</div>