<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Pokédex</title>
    <!-- Inter font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap"
          rel="stylesheet" />
    <!-- Tailwind -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Tailwind Elements CSS -->
    <link rel="stylesheet" href="~/lib/tailwind/index.min.css" />
    <!-- Custom styles -->
    <style></style>
    <script>
        tailwind.config = {
                theme: {
                    extend: {
                        colors: {
                            clifford: '#da373d',
                    }
                }
            }
        }
    </script>
    <!-- Extra CSS -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Pokédex.styles.css" asp-append-version="true" />
</head>
<!-- Site -->
<body>
    <header>
        <nav class="relative w-full flex flex-wrap items-center justify-between py-3 bg-gray-100 text-gray-500 hover:text-gray-700 focus:text-gray-700 shadow-lg">
            <div class="container-fluid w-full flex flex-wrap items-center justify-between px-6">
                <div class="container-fluid">
                    <a class="flex items-center text-gray-900 hover:text-gray-900 focus:text-gray-900 mt-2 lg:mt-0 mr-1" href="#">
                        <img class="mr-2" src="~/img/ball_icon.svg" style="height: 32px" alt="" loading="lazy" />
                        <span class="font-medium">Pokédex</span>
                    </a>
                </div>
            </div>
        </nav>
    </header>
    <div class="container my-12 px-6 mx-auto">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Pokédex - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <!-- Tailwind Elements JS -->
    <script type="text/javascript" src="js/index.min.js"></script>
    <!-- Extra JS -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
